/* Mixins and Extends */
%background-purple-gradient-white-font-color {
  &:hover {
    background: linear-gradient(
      90deg,
      $brand-color-purple 0%,
      $brand-color-purple-secondary 100%
    );

    &,
    & > * {
      color: $font-color-white;
      text-decoration: none;
    }
  }
}
