/*
 Vars
*/
$font-color-white: #fff;
$font-color-light-gray: #ebebeb;
$font-color-gray: #828bb2;
$font-color-dark-blue: #415094;
$font-color-black: #000;

$background-color-light: #f9f9ff;
$background-color-gray: rgba(130, 139, 178, 0.3);
$background-color-gray-solid: rgb(130, 139, 178);
$background-color-dark: #1e1c27;

$border-color-light: #eeeeee;
$border-color-gray: rgba(130, 139, 178, 0.4);
$border-color-dark: rgba(65, 80, 148, 0.15);

$brand-color-purple: #7c32ff;
$brand-color-purple-secondary: #c738d8;
$brand-color-purple-opacity: rgba(128, 80, 250, 0.8);

$overlay-color-black: #000;

$transition-all-mid: all 0.3s ease 0s;

$box-shadow: 0 10px 30px rgba(65, 80, 148, 0.1);
$box-shadow-black: 0 10px 30px rgba(0, 0, 0, 0.1);
