.SinglePostContent {
  &__title {
    font-size: 3.6rem;
    margin-bottom: 2rem;
    margin-top: 3rem;
    line-height: 4rem;
  }

  .meta-box {
    overflow: hidden;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;

    @include media-breakpoint-down(xs) {
      flex-direction: column;
      align-items: end;
    }

    &__author {
      display: flex;
      align-items: flex-start;

      @include media-breakpoint-down(xs) {
        margin: 3rem 0 0;
      }
    }
    &__info {
      text-align: right;
      vertical-align: middle;
      align-self: center;
      flex: 1;

      @include media-breakpoint-down(xs) {
        text-align: left;
      }

      h5 {
        font-size: 1.4rem;
        margin-bottom: 0.5rem;
      }
      p {
        font-size: 12px;
        margin-bottom: 0;
      }
      @include media-breakpoint-down(xs) {
        order: 1;
      }
    }
    &__img {
      padding-left: 1.4rem;
      vertical-align: middle;
      align-self: center;
      display: flex;

      @include media-breakpoint-down(xs) {
        order: 0;
        margin-right: 1rem;
      }

      img {
        width: 6rem;
        height: 6rem;

        @include media-breakpoint-down(xs) {
          width: 10rem;
          height: 10rem;
        }
      }
    }
  }

  &__content {
    * {
      margin-bottom: 1.5rem;
    }
    p {
      font-size: 1.4rem;
    }
    a {
      color: $font-color-dark-blue;
      font-weight: 600;

      &:hover {
        color: $font-color-gray;
      }
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}
