.SinglePostContent {
  &__title {
    font-size: 36px;
    margin-bottom: 20px;
    margin-top: 30px;
  }

  .meta-box {
    overflow: hidden;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;

    &__author {
      display: flex;
      align-items: flex-start;
    }
    &__info {
      text-align: right;
      vertical-align: middle;
      align-self: center;
      flex: 1;
      h5 {
        font-size: 14px;
        margin-bottom: 5px;
      }
      p {
        font-size: 12px;
        margin-bottom: 0px;
      }
    }
    &__img {
      padding-left: 14px;
      vertical-align: middle;
      align-self: center;
      display: flex;

      img {
        width: 60px;
        height: 60px;
      }
    }
  }

  .main-content {
    * {
      margin-bottom: 15px;
    }
    p {
      font-size: 14px;
    }
    a {
      color: $font-color-dark-blue;
      font-weight: 600;

      &:hover {
        color: $font-color-gray;
      }
    }
  }
}
