.BreakingNewsPosts {
  padding: 4rem 1%;

  .BreakingNewsPostsSingle {
    padding: 0 2rem;
    border-right: 1px solid $border-color-dark;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    @include media-breakpoint-down(xl) {
      padding: 0;
    }

    @include media-breakpoint-down(lg) {
      padding: 3%;
      border: none;
      justify-content: initial;
    }
    @include media-breakpoint-down(sm) {
      padding: 8% 0;
    }
    @include media-breakpoint-down(xs) {
      padding: 2%;
    }

    &__thumb {
      img {
        width: 10rem;
        height: 8rem;
        max-width: none;
        object-fit: cover;

        @include media-breakpoint-down(sm) {
          width: 12rem;
          height: 11rem;
        }
      }
    }

    &__details {
      padding: 0 1rem;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      h6 {
        a {
          font-size: 1.4rem;
          color: $font-color-dark-blue;
          font-weight: 600;

          &:hover {
            @extend %background-purple-gradient-transparent-text;
          }
        }
      }
    }
    &__date {
      font-size: 1.2rem;
      font-weight: 600;
    }
  }
}
