.CategoryList {
  &__item {
    padding: 0px 0px 10px;
    transition: $transition-all-mid;

    p {
      position: relative;
      color: $font-color-gray;
      margin: 0;
      transition: $transition-all-mid;
      img {
        margin-right: 20px;
      }
    }
  }

  ul {
    li {
      &:hover p,
      &:hover p:after,
      &:hover span {
        color: $font-color-white;
      }
    }
  }
}
