.PostGrid {
  .SinglePostCard {
    position: relative;
    z-index: 1;
    margin-bottom: 8rem;

    &__thumb {
      overflow: hidden;
      img {
        min-height: 60rem;
        width: 100%;
        object-fit: cover;
        transition: $transition-all-mid;
      }
    }

    &:hover .SinglePostCard__thumb img {
      transform: scale(1.1);
    }

    &__details {
      position: absolute;
      left: 3rem;
      bottom: -3rem;
      padding: 3rem;
      z-index: 1;
      background: $background-color-light;
      width: 100%;
      box-shadow: $box-shadow;

      @include media-breakpoint-down(xs) {
        left: 0;
      }

      h4 {
        font-size: 2rem;
        margin-bottom: 2rem;
        a {
          color: $font-color-dark-blue;

          &:hover {
            @extend %background-purple-gradient-transparent-text;
          }
        }
      }
    }
    &__meta {
      margin-top: 1.5rem;

      &--item {
        padding-right: 2rem;
        color: $font-color-gray;

        svg {
          margin-right: 8px;
          margin-bottom: 5px;
        }
      }
    }
  }
}
