/*
  Common styles for sidebar widgets
*/
.single-widget {
  padding: 3rem;
  margin-bottom: 3rem;
  background: $background-color-dark;

  &__title {
    position: relative;
    padding: 1.8rem 0 1.5rem;
    color: $font-color-white;
    border-bottom: 1px solid $border-color-gray;
    margin-bottom: 2rem;
    font-size: 2rem;

    &::after {
      position: absolute;
      left: 0;
      bottom: -1px;
      height: 1px;
      width: 50%;
      background: $font-color-gray;
      content: '';
    }
  }
}
