.TagsCloud {
  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 2px;
      display: inline-block;
      background: $background-color-gray;
      padding: 5px 10px;
      margin-bottom: 8px;
      transition: $transition-all-mid;

      @extend %background-purple-gradient-white-font-color;

      a {
        font-weight: 300;
        color: $font-color-gray;
      }
    }
  }
}
