.Header {
  padding: 2rem 0px;
  background: $brand-color-purple;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0;

    .Logo {
      width: 13rem;

      svg {
        fill: $font-color-white;
      }

      &:hover > svg {
        fill: $font-color-light-gray;
      }
    }
  }
  .NavMenu {
    display: flex;

    & > li {
      margin-left: 1rem;

      a {
        padding: 0 0.8rem 0px 0.8rem;
        text-decoration: none;
        display: inline-block;
        color: $font-color-white;
        //font-weight: 600;
        font-size: 1.3rem;
        text-transform: uppercase;
        outline: none;
        letter-spacing: 0.1rem;
      }

      &:hover > a {
        color: $font-color-light-gray;
      }
    }
  }
}
