html > body {
  color: #828bb2;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  position: relative;

  html > body h1,
  html > body h2,
  html > body h3,
  html > body h4,
  html > body h5,
  html > body h6 {
    font-family: 'Rubik', sans-serif;
    color: #000;
    line-height: 1.2em;
    margin-bottom: 0;
    font-weight: 500;
  }
  img {
    vertical-align: middle;
    border-style: none;
  }
  ul,
  ul * {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  /* 
    Header Component 
  */
  header {
    .main-menu {
      padding: 20px 0px;
      background: #7c32ff;

      nav#nav-menu-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0;

        img.main-logo {
          width: 175px;
        }
      }
      .nav-menu {
        display: flex;

        & > li {
          margin-left: 10px;

          a {
            padding: 0 8px 0px 8px;
            text-decoration: none;
            display: inline-block;
            color: #fff;
            font-weight: 600;
            font-size: 13px;
            text-transform: uppercase;
            outline: none;
          }

          &:hover > a {
            color: #dedede;
          }
        }
      }
    }
  }
  /* 
    Main Body Section 
  */
  .main-body {
    &.section-gap {
      padding: 120px 0;
    }
    /* 
      Post Grid Component
    */
    .post-list-container {
      .single-post-item {
        position: relative;
        z-index: 1;
        margin-bottom: 80px;

        .post-thumb {
          overflow: hidden;
          img {
            min-height: 600px;
            width: 100%;
            object-fit: cover;
            transition: all 0.3s ease 0s;
          }
        }

        &:hover .post-thumb img {
          transform: scale(1.1);
        }

        .post-details {
          position: absolute;
          left: 30px;
          bottom: -30px;
          padding: 30px;
          z-index: 1;
          background: #fff;
          width: 100%;
          box-shadow: 0 10px 30px rgba(65, 80, 148, 0.1);

          h4 {
            font-size: 20px;
            margin-bottom: 20px;
            a {
              color: #415094;
            }
          }
          .blog-meta {
            margin-top: 15px;
            .m-gap {
              padding-right: 20px;
              color: #828bb2;

              span {
                padding-right: 10px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
    /* 
      Sidebar Section
    */
    .sidebar {
      /*
        General Styles for Widgets:
      */
      .single-widget {
        //border: 1px solid #eee;
        padding: 30px;
        margin-bottom: 30px;
        background: #1e1c27;

        .title {
          position: relative;
          padding: 18px 0 15px;
          color: #fff;
          border-bottom: 1px solid rgba(130, 139, 178, 0.4);
          margin-bottom: 20px;
          font-size: 20px;

          &::after {
            position: absolute;
            left: 0;
            bottom: -1px;
            height: 1px;
            width: 50%;
            background: #828bb2;
            content: '';
          }
        }
      }
      /* 
        User Box Component
      */
      .user-box-container {
        .p-text {
          margin-top: 20px;
        }
      }
      /*
        Category List Component:
      */
      .category-widget {
        .category-list-item {
          padding: 0px 0px 10px;
          transition: all 0.3s ease 0s;

          p {
            position: relative;
            color: #828bb2;
            margin: 0;
            transition: all 0.3s ease 0s;
            img {
              margin-right: 20px;
            }
          }
        }

        ul {
          li {
            &:hover p,
            &:hover p:after,
            &:hover span {
              color: #fff;
            }
          }
        }
      }
      /*
        Tag Cloud Component:
      */
      .tags-widget {
        ul {
          display: flex;
          flex-wrap: wrap;

          li {
            margin: 2px;
            display: inline-block;
            background: rgba(130, 139, 178, 0.3);
            padding: 5px 10px;
            margin-bottom: 8px;
            transition: all 0.3s ease 0s;

            &:hover a {
              color: #7c32ff;
            }

            a {
              font-weight: 300;
              color: #828bb2;
            }
          }
        }
      }
    }
  }
}

/*
  Utilities
*/
.align-items-center {
  align-items: center !important;
}

.justify-content-between {
  justify-content: space-between !important;
}

.d-flex {
  display: flex !important;
}

/*
  General Style
*/
.gradient-bg,
#search_input_box,
.protfolio-widget .social-links li a:hover,
.tags-widget ul li:hover,
.main_blog_details .user_details .float-left a:hover,
.comments-area .btn-reply:hover,
.blog-pagination .page-item.active .page-link,
.blog-pagination .page-link:hover,
.single-footer-widget .sub-btn {
  background: -webkit-linear-gradient(90deg, #7c32ff 0%, #c738d8 100%);
  background: -moz-linear-gradient(90deg, #7c32ff 0%, #c738d8 100%);
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%);
}

.gradient-color,
.single-stories-carousel:hover h6 a,
.single-post-carousel:hover .post-details h2 a,
.single-post-item:hover .post-details h4 a,
.popular-posts-widget .single-popular-post:hover h6 a {
  background: -webkit-linear-gradient(90deg, #7c32ff 0%, #c738d8 100%);
  background: -moz-linear-gradient(90deg, #7c32ff 0%, #c738d8 100%);
  background: -o-linear-gradient(90deg, #7c32ff 0%, #c738d8 100%);
  background: -ms-linear-gradient(90deg, #7c32ff 0%, #c738d8 100%);
  background: linear-gradient(90deg, #7c32ff 0%, #c738d8 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.primary-btn:hover {
  background: #7c32ff;
  color: #fff;
  border-color: #7c32ff;
}
.primary-btn.color {
  background: #7c32ff;
  border: 1px solid #7c32ff;
  color: #fff;
}
.primary-btn.color span {
  color: #fff;
}
.primary-btn.color:hover {
  background: #f9f9ff;
  color: #000;
  border: 1px solid #e9e9e9;
}
.primary-btn.color:hover span {
  color: #7c32ff;
}
